{% extends "base/base.html" %}
{% block body %}

<h1>Home</h1>
<div class="container">
    <form id="alert-form" hx-post="{% url 'alert:alert' %}" hx-target="#alert-response" hx-swap="outerHTML">
        {% csrf_token %}
        <input type="hidden" name="latitude" id="latitude">
        <input type="hidden" name="longitude" id="longitude">
        <button type="button" class="btn btn-danger" onclick="getLocation()">Send Emergency Alert</button>
    </form>

    <div id="alert-response"></div>
</div>

<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function(position) {
                    document.getElementById("latitude").value = position.coords.latitude;
                    document.getElementById("longitude").value = position.coords.longitude;

                    htmx.trigger("#alert-form", "submit");
                    console.log(`lattitude is ${position.coords.latitude} and longitude is ${position.coords.longitude}`)
                },
                function(error) {
                    alert("Error getting location: " + error.message);
                }
            );
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }
</script>

{% endblock body %}
